*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  widows: 100vw;
  height: 100vh;
  /* border-box - total width or total height will include padding and border */
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #3c3c3c; }

.heading-primary {
  font-size: 6.4rem; }

.heading-secondary {
  font-size: 3.6rem;
  color: #828181; }

.heading-tertiary {
  font-size: 3.6rem;
  margin-top: 3.2rem; }

.gradient-box {
  display: inline-block;
  position: relative;
  padding: 1.2rem 1.6rem;
  background: white;
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: 3px;
  margin-top: 3.2rem;
  cursor: pointer; }
  .gradient-box:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: linear-gradient(to right bottom, #211df4, #02ff3a); }
  .gradient-box:hover .btn {
    color: #02ff3a; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  color: #211df4;
  font-size: 1.4rem; }

.navigation {
  padding: 4.8rem 6.4rem; }
  .navigation__list {
    list-style: none;
    text-align: end; }
  .navigation__item {
    display: inline-block; }
    .navigation__item:not(:last-child) {
      margin-right: 2.4rem; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    font-size: 2rem;
    color: #3c3c3c; }
  .navigation__link:hover {
    color: #211df4;
    font-weight: 600; }

.footer {
  height: 4.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6.4rem;
  padding-right: 6.4rem; }
  .footer__par {
    color: #828181;
    font-size: 1.2rem; }
  .footer__link, .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #02ff3a; }
  .footer__link:hover {
    font-weight: 500; }
  .footer__icon-link:not(:last-child) {
    margin-right: 1.2rem; }
  .footer__icon:hover {
    filter: invert(75%) sepia(28%) saturate(3339%) hue-rotate(76deg) brightness(99%) contrast(116%); }

.container {
  height: calc(100vh - 12rem - 4.8rem);
  padding: 6.4rem;
  display: flex;
  flex-direction: row; }
