*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  widows: 100vw;
  height: 100vh;
  /* border-box - total width or total height will include padding and border */
  box-sizing: border-box; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #3c3c3c; }

.heading-primary {
  font-size: 6.4rem; }

.heading-secondary {
  font-size: 3.6rem;
  color: #828181; }

.heading-tertiary {
  font-size: 3.6rem;
  margin-top: 3.2rem; }

.heading-projects {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  color: #828181; }

.mdb-heading--primary {
  font-family: "Nunito", sans-serif;
  font-size: 3.6rem;
  margin-top: 4.8rem; }

.mdb-heading--secondary {
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
  margin-top: 1.2rem;
  color: #828181; }

.mdb-heading--tertiary {
  font-size: 3.6rem;
  text-transform: uppercase; }
  .mdb-heading--tertiary--white {
    color: white; }

.mdb-section__p {
  font-size: 2.4rem;
  margin-top: 2.4rem;
  line-height: 1.3em; }
  .mdb-section__p a {
    color: #3c3c3c; }
  .mdb-section__p--white {
    color: white; }
    .mdb-section__p--white a {
      color: white; }

.mdb-section__ul {
  list-style-position: inside;
  margin-top: 1.2rem; }

.u-center-text {
  display: block !important;
  text-align: center !important; }

.gradient-box {
  display: inline-block;
  position: relative;
  padding: 1.2rem 1.6rem;
  background: white;
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: 3px;
  margin-top: 3.2rem;
  cursor: pointer; }
  .gradient-box:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: linear-gradient(to right bottom, #211df4, #02ff3a); }
  .gradient-box:hover .btn {
    display: inline-block;
    background-image: linear-gradient(to right bottom, #211df4 50%, #02ff3a);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  color: #211df4;
  font-size: 1.4rem;
  transition: all 0.3s; }

.btn--mdb, .btn--mdb:link, .btn--mdb:visited {
  font-family: "Nunito", sans-serif;
  font-size: 1.6rem;
  font-weight: 600;
  background-color: #3c3c3c;
  color: white;
  padding: 0.8rem 2.4rem;
  border-radius: 2rem;
  transition: all 0.2s;
  position: relative; }

.btn--mdb:hover {
  background-color: #555555; }

.btn--mdb:not(:last-child) {
  margin-right: 1.2rem; }

.navigation {
  padding: 4.8rem 6.4rem 0 6.4rem; }
  .navigation__list {
    list-style: none;
    text-align: end; }
  .navigation__item {
    display: inline-block; }
    .navigation__item:not(:last-child) {
      margin-right: 2.4rem; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    font-size: 2rem;
    color: #3c3c3c;
    transition: all 0.2s; }
  .navigation__link:hover {
    color: #211df4;
    font-weight: 600; }

.footer {
  height: 4.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6.4rem;
  padding-right: 6.4rem; }
  .footer__par {
    color: #828181;
    font-size: 1.2rem; }
  .footer__link, .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #02ff3a; }
  .footer__link:hover {
    font-weight: 500; }
  .footer__icon-link:not(:last-child) {
    margin-right: 1.2rem; }
  .footer__icon {
    transition: all 0.3s; }
    .footer__icon--white {
      filter: brightness(0) invert(1); }
    .footer__icon:hover {
      filter: invert(75%) sepia(28%) saturate(3339%) hue-rotate(76deg) brightness(99%) contrast(116%); }

.mdb-footer {
  background-color: #3c3c3c; }
  .mdb-footer__list {
    margin: 3.2rem 0 6.4rem 0; }
    .mdb-footer__list li:not(:first-child) {
      margin-top: 1.2rem; }
    .mdb-footer__list--nav {
      margin-top: 0; }
  .mdb-footer__link {
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    transition: all 0.4s; }
    .mdb-footer__link:hover {
      margin-left: 2.4rem; }
  .mdb-footer__navigation-link {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 3.6rem;
    text-transform: uppercase;
    transition: all 0.4s; }
    .mdb-footer__navigation-link:hover {
      margin-right: 2.4rem; }

.container {
  height: calc(100vh - 7.2rem - 4.8rem);
  padding: 6.4rem;
  padding-top: 12.8rem;
  display: flex;
  flex-direction: row; }

.header {
  width: 50vw; }

.projects {
  width: 50vw;
  padding-left: 19.2rem; }
  .projects__list {
    list-style: none; }
  .projects__link, .projects__link:link, .projects__link:visited {
    text-decoration: none;
    display: block;
    font-size: 3rem;
    font-weight: 600;
    color: #3c3c3c;
    transition: all 0.4s; }
    .projects__link:not(:last-child), .projects__link:link:not(:last-child), .projects__link:visited:not(:last-child) {
      margin-bottom: 2.4rem; }
  .projects__link:hover {
    margin-left: 2.4rem;
    color: #211df4; }
  .projects__link--span {
    display: none;
    filter: invert(75%) sepia(28%) saturate(3339%) hue-rotate(76deg) brightness(99%) contrast(116%); }
  .projects__img {
    position: absolute;
    z-index: -1;
    height: 70vh;
    opacity: 0;
    transition: all 0.8s ease-out; }
    .projects__img--musicdb-1 {
      left: -30vw;
      bottom: 2rem; }
    .projects__img--musicdb-2 {
      left: 75vw;
      bottom: 100vh; }
    .projects__img--recipe-1 {
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover; }
  .projects__link--musicdb:hover + .projects__img--musicdb-1 {
    opacity: 0.2;
    left: 40vw; }
  .projects__link--musicdb:hover ~ .projects__img--musicdb-2 {
    opacity: 0.2;
    bottom: 2rem; }
  .projects__link--portfolio:hover > .projects__link--span {
    display: inline; }
  .projects__link--recipe:hover + .projects__img--recipe-1 {
    opacity: 0.2; }

.mdb-container {
  background-image: url(../img/musicdb/polygon1.svg);
  background-repeat: no-repeat;
  background-position: top right; }

.mdb-header {
  display: flex;
  flex-direction: row; }
  .mdb-header__left {
    width: 50vw;
    align-self: center;
    margin-left: 19.2rem;
    align-self: flex-end;
    padding-bottom: 12.8rem; }
  .mdb-header__right {
    width: 50vw;
    text-align: right;
    margin-right: 12.8rem; }
  .mdb-header__img {
    height: 100vh; }

.mdb-button-box {
  margin-top: 3.2rem; }

.mdb-navigation {
  position: relative; }
  .mdb-navigation__button {
    position: fixed;
    z-index: 10;
    left: 4.8rem;
    top: 6.4rem;
    background-color: #555555;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba(60, 60, 60, 0.3);
    transition: all 0.2s; }
    .mdb-navigation__button:hover {
      transform: scaleX(1.05) scaleY(1.05); }
  .mdb-navigation__img {
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%); }

.mdb-button-box .gradient-box:first-child {
  margin-right: 1.2rem; }

.mdb-arrow-down {
  position: absolute;
  bottom: 6.4rem;
  left: 6.4rem; }

.mdb-section {
  padding: 6.4rem;
  display: flex;
  flex-direction: row;
  align-items: center; }
  .mdb-section__left, .mdb-section__right {
    width: 50vw; }
  .mdb-section__left--intro, .mdb-section__right--intro {
    width: 35vw; }
  .mdb-section--design {
    margin-top: -12rem;
    background-image: url(../img/musicdb/polygon2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90rem; }
  .mdb-section__left--design {
    margin-left: 9.6rem; }
  .mdb-section__right--design {
    text-align: center; }
  .mdb-section__left--stack, .mdb-section__right--stack {
    padding: 0 6.4rem; }
  .mdb-section--schema {
    display: block;
    text-align: center; }
  .mdb-section--features {
    background-image: url(../img/musicdb/polygon3.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: flex-start;
    padding-bottom: 12.8rem; }
  .mdb-section__left--features, .mdb-section__right--features {
    padding: 0 6.4rem;
    margin-top: 9.6rem; }
  .mdb-section__left--features {
    width: 35vw; }
  .mdb-section--video {
    display: block;
    text-align: center; }
  .mdb-section--footer {
    align-items: flex-start; }
  .mdb-section__right--footer {
    text-align: right; }

.intro-img {
  height: 75vh;
  margin-left: 6.4rem; }

.design-img {
  height: 70vh; }

.schema-img {
  margin-top: 6.4rem;
  width: 60%; }

.mdb-video {
  max-width: 100rem; }
