/*
0 - 600px:  Phone
600-900px:  Tablet portrait
900-1200:   Tablet landscape
1200 -1800: Normal styles
1800 - :    Big screens

$breakpoint arg choices
- phone
- tab-port
- tab-land
- big-desctop
*/
@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-30rem); }
  80% {
    transform: translateX(2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(30rem); }
  80% {
    transform: translateX(-2rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes emersion {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(20rem); }
  80% {
    transform: translateY(-2rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.5%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 22.5em) {
    html {
      font-size: 43.5%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  widows: 100vw;
  height: 100vh;
  /* border-box - total width or total height will include padding and border */
  box-sizing: border-box; }

@media only screen and (max-width: 75em) {
  .mobile {
    display: none; } }

@media only screen and (max-width: 56.25em) {
  .mobile {
    display: block; } }

@media only screen and (max-width: 75em) {
  .desktop {
    display: block; } }

@media only screen and (max-width: 56.25em) {
  .desktop {
    display: none; } }

::selection {
  background-color: #ff4133;
  color: white; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #3c3c3c; }

.heading-primary {
  font-size: 6.4rem;
  letter-spacing: 0.04em; }
  @media only screen and (max-width: 37.5em) {
    .heading-primary {
      font-size: 5.2rem;
      letter-spacing: 0.02em; } }

.heading-secondary {
  font-size: 3.6rem;
  color: #828181; }
  @media only screen and (max-width: 37.5em) {
    .heading-secondary {
      font-size: 3rem;
      margin-top: 1.6rem; } }

.heading-tertiary {
  font-size: 2.4rem;
  margin-top: 3.2rem;
  color: #555555; }

.heading-projects {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  color: #828181; }

.mdb-heading--primary {
  font-family: "Nunito", sans-serif;
  font-size: 3.6rem;
  margin-top: 4.8rem; }

.mdb-heading--secondary {
  font-family: "Nunito", sans-serif;
  font-size: 3rem;
  margin-top: 1.2rem;
  color: #828181; }

.mdb-heading--tertiary {
  font-size: 3.6rem;
  text-transform: uppercase; }
  .mdb-heading--tertiary--white {
    color: white; }

.mdb-section__p {
  font-size: 2.4rem;
  margin-top: 2.4rem;
  line-height: 1.3em; }
  .mdb-section__p a {
    color: #3c3c3c; }
  .mdb-section__p--white {
    color: white; }
    .mdb-section__p--white a {
      color: white; }

.mdb-section__ul {
  list-style-position: outside;
  margin-left: 3.2rem;
  margin-top: 1.2rem; }
  .mdb-section__ul li {
    margin-top: 0.8rem; }

.recipe-heading--primary {
  font-size: 3.6rem;
  margin-bottom: 4.8rem;
  line-height: 1.6; }
  @media only screen and (max-width: 37.5em) {
    .recipe-heading--primary {
      margin: 6.4rem 2.4rem 6.4rem 2.4rem; } }

.recipe-p:not(:last-child) {
  margin-bottom: 2.4rem; }

.contact__header--primary {
  font-size: 6.4rem; }

.contact__header--secondary {
  font-size: 2.4rem;
  margin-top: 3.6rem;
  line-height: 1.6; }

.u-center-text {
  display: block !important;
  text-align: center !important; }

.gradient-box {
  display: inline-block;
  position: relative;
  padding: 1.2rem 1.6rem;
  background: white;
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: 15rem;
  margin-top: 3.2rem;
  cursor: pointer; }
  .gradient-box:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: linear-gradient(to right bottom, #1f28cf, #ff4133); }
  .gradient-box:hover .btn {
    display: inline-block;
    background-image: linear-gradient(to right bottom, #1f28cf 50%, #ff4133);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  color: #1f28cf;
  font-size: 1.4rem;
  transition: all 0.3s; }
  @media only screen and (max-width: 37.5em) {
    .btn, .btn:link, .btn:visited {
      font-size: 2rem; } }

.btn__project, .btn__project:link, .btn__project:visited {
  font-size: 1.6rem;
  font-weight: 600;
  padding: 0.8rem 2.4rem;
  border-radius: 2rem;
  transition: all 0.2s;
  position: relative; }
  @media only screen and (max-width: 56.25em) {
    .btn__project, .btn__project:link, .btn__project:visited {
      font-size: 2rem;
      padding: 1.2rem 3.2rem; } }
  @media only screen and (min-width: 112.5em) {
    .btn__project, .btn__project:link, .btn__project:visited {
      font-size: 2rem;
      padding: 1.2rem 3.2rem; } }

.btn__project:not(:last-child) {
  margin-right: 2.4rem; }

.btn__project--mdb, .btn__project--mdb:link, .btn__project--mdb:visited {
  font-family: "Nunito", sans-serif;
  background-color: #3c3c3c;
  color: white; }

.btn__project--mdb:hover {
  background-color: #555555; }

.btn__project--recipe, .btn__project--recipe:link, .btn__project--recipe:visited {
  background-color: white;
  color: #1f28cf; }

.btn__project--recipe:hover {
  color: #ff4133; }

.navigation {
  padding: 4.8rem 6.4rem 0 6.4rem; }
  .navigation__list {
    list-style: none;
    text-align: end; }
  .navigation__item {
    display: inline-block; }
    .navigation__item:not(:last-child) {
      margin-right: 2.4rem; }
  .navigation__link, .navigation__link:link, .navigation__link:visited {
    text-decoration: none;
    font-size: 2rem;
    color: #3c3c3c;
    transition: all 0.2s; }
  .navigation__link:hover {
    color: #ff4133;
    font-weight: 600; }
  .navigation__link--active, .navigation__link--active:link, .navigation__link--active:visited {
    color: #ff4133; }

.hamburger {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .hamburger {
      display: block; }
      .hamburger__checkbox {
        display: none; }
      .hamburger__checkbox:checked ~ .hamburger__background {
        transform: scale(65); } }
    @media only screen and (max-width: 56.25em) and (max-width: 37.5em) {
      .hamburger__checkbox:checked ~ .hamburger__background {
        transform: scale(35); } }
  @media only screen and (max-width: 56.25em) {
      .hamburger__checkbox:checked ~ .hamburger__menu {
        visibility: visible;
        opacity: 1;
        width: 100%; }
      .hamburger__checkbox:checked ~ .hamburger__button {
        background-image: none;
        background-color: white; }
      .hamburger__button {
        width: 6.4rem;
        height: 6.4rem;
        position: fixed;
        border-radius: 50%;
        z-index: 10;
        box-shadow: 0 1rem 3rem rgba(60, 60, 60, 0.3);
        text-align: center;
        cursor: pointer;
        background-image: linear-gradient(#1f28cf, #ff4133);
        top: 4.8rem;
        right: 4.8rem; }
        .hamburger__button--notfixed {
          position: absolute; }
      .hamburger__background {
        height: 6rem;
        width: 6rem;
        border-radius: 50%;
        position: fixed;
        top: 5rem;
        right: 5rem;
        background-image: linear-gradient(#1f28cf, #1f28cf 50%, #ff4133);
        z-index: 5;
        transition: transform 0.8s cubic-bezier(0.83, 0, 0.17, 1); }
        .hamburger__background--notfixed {
          position: absolute; }
      .hamburger__menu {
        visibility: hidden;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 7;
        opacity: 0;
        width: 0;
        transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
      .hamburger__icon {
        position: relative;
        margin-top: 3.2rem; }
        .hamburger__icon, .hamburger__icon::before, .hamburger__icon::after {
          width: 3rem;
          height: 2px;
          background-color: white;
          display: inline-block; }
        .hamburger__icon::before, .hamburger__icon::after {
          content: "";
          position: absolute;
          left: 0;
          transition: all 0.2s; }
        .hamburger__icon::before {
          top: -0.8rem; }
        .hamburger__icon::after {
          top: 0.8rem; }
      .hamburger__checkbox:checked + .hamburger__button .hamburger__icon {
        background-color: transparent; }
      .hamburger__checkbox:checked + .hamburger__button .hamburger__icon::before {
        top: 0;
        transform: rotate(135deg);
        background-color: #3c3c3c; }
      .hamburger__checkbox:checked + .hamburger__button .hamburger__icon::after {
        top: 0;
        transform: rotate(-135deg);
        background-color: #3c3c3c; } }

.menu {
  display: none; }
  @media only screen and (max-width: 56.25em) {
    .menu {
      display: block; }
      .menu__list {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        list-style: none;
        text-align: center;
        width: 100%; }
      .menu__item {
        margin: 1.2rem; }
      .menu__link:link, .menu__link:visited {
        display: inline-block;
        padding: 1.2rem 2.4rem;
        font-size: 4.8rem;
        font-weight: 700;
        color: white;
        text-decoration: none;
        text-transform: uppercase; }
        .menu__link:link:hover, .menu__link:linkactive, .menu__link:visited:hover, .menu__link:visitedactive {
          margin-left: 2.4rem; } }

.back-navigation {
  position: relative; }
  .back-navigation__button {
    width: 6.4rem;
    height: 6.4rem;
    position: fixed;
    border-radius: 50%;
    z-index: 10;
    box-shadow: 0 1rem 3rem rgba(60, 60, 60, 0.3);
    text-align: center;
    cursor: pointer;
    background-color: #555555;
    left: 4.8rem;
    top: 4.8rem;
    transition: all 0.2s; }
    @media only screen and (max-width: 37.5em) {
      .back-navigation__button {
        position: absolute; } }
    .back-navigation__button:hover {
      transform: scaleX(1.05) scaleY(1.05); }
    .back-navigation__button--white {
      background-color: white; }
  .back-navigation__img {
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%); }

.footer {
  height: 4.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6.4rem;
  padding-right: 6.4rem; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      display: block; } }
  .footer__par {
    color: #828181;
    font-size: 1.2rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__par {
        text-align: center; } }
    @media only screen and (max-width: 37.5em) {
      .footer__par--home {
        padding-bottom: 12.8rem; } }
  .footer__link, .footer__link:link, .footer__link:visited {
    text-decoration: none;
    color: #ff4133; }
  .footer__link:hover {
    font-weight: 500; }
  .footer__link--white, .footer__link--white:link, .footer__link--white:visited {
    color: white; }
  @media only screen and (max-width: 37.5em) {
    .footer__icons {
      text-align: center;
      margin: 4.8rem 0 2.4rem 0; } }
  .footer__icon-link:not(:last-child) {
    margin-right: 1.2rem; }
  .footer__icon {
    transition: all 0.3s; }
    .footer__icon--white {
      filter: brightness(0) invert(1); }
    .footer__icon:hover {
      filter: invert(32%) sepia(18%) saturate(6547%) hue-rotate(339deg) brightness(111%) contrast(102%); }

.wide-footer {
  background-color: #3c3c3c;
  padding: 6.4rem; }
  @media only screen and (max-width: 37.5em) {
    .wide-footer {
      padding-bottom: 4.8rem; } }
  .wide-footer__list {
    margin: 3.2rem 0 6.4rem 0; }
    .wide-footer__list li:not(:first-child) {
      margin-top: 1.2rem; }
    .wide-footer__list--nav {
      margin-top: 0; }
      @media only screen and (max-width: 37.5em) {
        .wide-footer__list--nav {
          margin-bottom: 0; } }
  @media only screen and (max-width: 37.5em) {
    .wide-footer__heading span {
      display: none; } }
  @media only screen and (max-width: 37.5em) {
    .wide-footer__heading::after {
      content: ">>"; } }
  .wide-footer__link {
    font-size: 1.8rem;
    text-decoration: none;
    color: white;
    transition: all 0.4s; }
    @media only screen and (max-width: 37.5em) {
      .wide-footer__link {
        font-size: 2.4rem;
        text-transform: uppercase; } }
    .wide-footer__link:hover {
      margin-left: 2.4rem; }
  .wide-footer__navigation-link {
    font-weight: bold;
    text-decoration: none;
    color: white;
    font-size: 3.6rem;
    text-transform: uppercase;
    transition: all 0.4s; }
    .wide-footer__navigation-link:hover {
      margin-right: 2.4rem; }

.container {
  height: calc(100vh - 7.2rem - 4.8rem);
  max-width: 150rem;
  margin: auto;
  padding: 6.4rem 0 6.4rem 12.8rem;
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media only screen and (max-width: 56.25em) {
    .container {
      flex-direction: column;
      align-items: flex-start;
      justify-content: center; } }
  @media only screen and (max-width: 37.5em) {
    .container {
      height: auto;
      padding: 6.4rem; } }

.header {
  width: 50vw; }
  @media only screen and (max-width: 37.5em) {
    .header {
      width: auto;
      margin-top: 19.2rem; } }

.projects {
  width: 50vw;
  padding-left: 10vw; }
  @media only screen and (max-width: 56.25em) {
    .projects {
      padding-left: 0;
      margin-top: 9.6rem; } }
  @media only screen and (max-width: 37.5em) {
    .projects {
      width: auto; } }
  .projects__list {
    list-style: none; }
  .projects__link, .projects__link:link, .projects__link:visited {
    text-decoration: none;
    display: block;
    font-weight: 600;
    font-size: 3rem;
    color: #3c3c3c;
    transition: all 0.4s; }
    .projects__link:not(:last-child), .projects__link:link:not(:last-child), .projects__link:visited:not(:last-child) {
      margin-bottom: 2.4rem; }
  .projects__link:hover {
    margin-left: 2.4rem;
    color: #1f28cf; }
  .projects__link--span {
    display: none;
    filter: invert(32%) sepia(18%) saturate(6547%) hue-rotate(339deg) brightness(111%) contrast(102%); }
  .projects__img {
    position: absolute;
    z-index: -1;
    height: 70vh;
    opacity: 0;
    transition: all 0.8s ease-out; }
    @media only screen and (max-width: 56.25em) {
      .projects__img {
        display: none; } }
    .projects__img--musicdb-1 {
      left: -30vw;
      bottom: 2rem; }
    .projects__img--musicdb-2 {
      left: 75vw;
      bottom: 100vh; }
    .projects__img--recipe-1 {
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover; }
  .projects__link--musicdb:hover + .projects__img--musicdb-1 {
    opacity: 0.2;
    left: 40vw; }
  .projects__link--musicdb:hover ~ .projects__img--musicdb-2 {
    opacity: 0.2;
    bottom: 2rem; }
  .projects__link--portfolio:hover > .projects__link--span {
    display: inline; }
  .projects__link--recipe:hover + .projects__img--recipe-1 {
    opacity: 0.2; }

.aboutme-container {
  max-width: 89.6rem;
  margin: auto;
  padding: 6.4rem;
  font-size: 2rem;
  line-height: 1.6; }
  @media only screen and (max-width: 56.25em) {
    .aboutme-container {
      padding: 6.4rem 12.8rem; } }
  @media only screen and (max-width: 37.5em) {
    .aboutme-container {
      padding: 12.8rem 6.4rem; } }

.aboutme-header {
  text-transform: uppercase;
  margin-bottom: 4.8rem; }

.aboutme-p {
  margin-top: 3.2rem; }

.aboutme-link {
  text-decoration: none;
  color: #ff4133; }

.aboutme-img-container {
  text-align: center;
  margin: 4.8rem 0; }

.aboutme-img {
  height: 25.6rem; }

.aboutme-list {
  list-style-type: none; }
  .aboutme-list__item:first-child {
    margin-top: 0.8rem; }

.contact__container {
  height: calc(100vh - 7.2rem - 4.8rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; }
  @media only screen and (max-width: 37.5em) {
    .contact__container {
      height: calc(100vh - 7.2rem - 4.8rem - 12.8rem); } }

.contact__link {
  text-decoration: none;
  color: #ff4133; }

.mdb-container {
  background-image: url(../img/musicdb/polygon1.svg);
  background-repeat: no-repeat;
  background-position: top right; }
  @media only screen and (min-width: 112.5em) {
    .mdb-container {
      background-size: 65%; } }
  @media only screen and (max-width: 56.25em) {
    .mdb-container {
      background-image: none; } }

.mdb-header {
  display: flex;
  flex-direction: row; }
  @media only screen and (max-width: 56.25em) {
    .mdb-header {
      display: block; } }
  .mdb-header__left {
    width: 50vw;
    align-self: center;
    margin-left: 19.2rem;
    align-self: flex-end;
    padding-bottom: 12.8rem; }
    @media only screen and (min-width: 112.5em) {
      .mdb-header__left {
        padding-bottom: 25.6rem; } }
    @media only screen and (max-width: 75em) {
      .mdb-header__left {
        margin-left: 6.4rem; } }
    @media only screen and (max-width: 56.25em) {
      .mdb-header__left {
        width: 100vw;
        margin: 0;
        padding: 19.2rem 3.2rem 3.2rem 3.2rem;
        text-align: center; } }
  .mdb-header__right {
    width: 100vw;
    text-align: center;
    margin: 0; }
    @media only screen and (max-width: 37.5em) {
      .mdb-header__right {
        width: 95vw;
        margin: 3.2rem auto 0 auto; } }
  .mdb-header__img {
    height: 100vh;
    width: auto;
    max-height: 1100px; }
    @media only screen and (max-width: 56.25em) {
      .mdb-header__img {
        width: 80vw;
        height: auto;
        margin: 6.4rem auto 0 auto; } }
    @media only screen and (max-width: 37.5em) {
      .mdb-header__img {
        margin-top: 3.2rem; } }

.mdb-button-box {
  margin-top: 3.2rem; }
  @media only screen and (max-width: 56.25em) {
    .mdb-button-box {
      margin-top: 6.4rem; } }
  @media only screen and (max-width: 37.5em) {
    .mdb-button-box {
      margin-top: 3.2rem; } }

.mdb-arrow-down {
  position: absolute;
  bottom: 6.4rem;
  left: 6.4rem; }
  @media only screen and (max-width: 75em) {
    .mdb-arrow-down {
      bottom: 2.4rem; } }
  @media only screen and (max-width: 56.25em) {
    .mdb-arrow-down {
      display: none; } }

.mdb-section {
  padding: 6.4rem;
  display: flex;
  flex-direction: row;
  align-items: center; }
  @media only screen and (max-width: 37.5em) {
    .mdb-section {
      padding: 6.4rem 4.8rem;
      display: block; } }
  .mdb-section__left, .mdb-section__right {
    width: 50vw; }
    @media only screen and (max-width: 37.5em) {
      .mdb-section__left, .mdb-section__right {
        width: auto; } }
  @media only screen and (max-width: 37.5em) {
    .mdb-section--intro {
      margin-top: 4.8rem; } }
  .mdb-section__left--intro, .mdb-section__right--intro {
    width: 35vw; }
    @media only screen and (max-width: 75em) {
      .mdb-section__left--intro, .mdb-section__right--intro {
        width: 50vw; } }
    @media only screen and (max-width: 37.5em) {
      .mdb-section__left--intro, .mdb-section__right--intro {
        width: auto; } }
  .mdb-section--design {
    margin-top: -12rem;
    background-image: url(../img/musicdb/polygon2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90rem; }
    @media only screen and (max-width: 75em) {
      .mdb-section--design {
        margin-top: 0;
        height: auto; } }
    @media only screen and (max-width: 56.25em) {
      .mdb-section--design {
        background-image: none;
        background-color: #3c3c3c;
        padding: 4.8rem; } }
    @media only screen and (max-width: 37.5em) {
      .mdb-section--design {
        background-image: url(../img/musicdb/polygon1-mobile.svg);
        background-color: white;
        padding: 19.2rem 4.8rem 0 4.8rem; } }
  .mdb-section__left--design {
    margin-left: 9.6rem; }
    @media only screen and (max-width: 75em) {
      .mdb-section__left--design {
        margin-left: 0; } }
  .mdb-section__right--design {
    text-align: center; }
    @media only screen and (max-width: 75em) {
      .mdb-section__right--design {
        min-height: 50rem; } }
    @media only screen and (max-width: 56.25em) {
      .mdb-section__right--design {
        min-height: auto;
        margin-top: 0rem; } }
    @media only screen and (max-width: 37.5em) {
      .mdb-section__right--design {
        margin-top: 30rem; } }
  @media only screen and (min-width: 112.5em) {
    .mdb-section--stack {
      padding: 9.6rem 6.4rem; } }
  .mdb-section__left--stack, .mdb-section__right--stack {
    padding: 0 6.4rem; }
    @media only screen and (max-width: 37.5em) {
      .mdb-section__left--stack, .mdb-section__right--stack {
        padding: 2.4rem 0; } }
    @media only screen and (max-width: 56.25em) {
      .mdb-section__left--stack, .mdb-section__right--stack {
        padding: 3.2rem; } }
  .mdb-section--schema {
    display: block;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .mdb-section--schema {
        display: none; } }
  .mdb-section--features {
    background-image: url(../img/musicdb/polygon3.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: flex-start;
    padding-bottom: 12.8rem; }
    @media only screen and (max-width: 56.25em) {
      .mdb-section--features {
        background-image: none;
        background-color: #3c3c3c;
        padding-bottom: 6.4rem; } }
    @media only screen and (max-width: 37.5em) {
      .mdb-section--features {
        background-image: url(../img/musicdb/polygon2-mobile.svg);
        background-color: white;
        background-size: 100%;
        padding: 9.6rem 4.8rem 0 4.8rem;
        min-height: 750px; } }
    @media only screen and (max-width: 22.5em) {
      .mdb-section--features {
        padding: 6.4rem 4.8rem 0 4.8rem;
        min-height: 600px; } }
  .mdb-section__left--features, .mdb-section__right--features {
    padding: 0 6.4rem;
    margin-top: 9.6rem; }
    @media only screen and (max-width: 75em) {
      .mdb-section__left--features, .mdb-section__right--features {
        padding: 0;
        margin-top: 3.2rem; } }
    @media only screen and (max-width: 56.25em) {
      .mdb-section__left--features, .mdb-section__right--features {
        margin-top: 0; } }
  .mdb-section__left--features {
    width: 35vw; }
    @media only screen and (max-width: 37.5em) {
      .mdb-section__left--features {
        width: auto; } }
  @media only screen and (max-width: 56.25em) {
    .mdb-section__right--features {
      padding-left: 4.8rem; } }
  @media only screen and (max-width: 37.5em) {
    .mdb-section__right--features {
      padding-left: 0; } }
  .mdb-section--video {
    display: block;
    text-align: center; }
    @media only screen and (min-width: 112.5em) {
      .mdb-section--video {
        padding: 9.6rem 6.4rem; } }
    @media only screen and (max-width: 37.5em) {
      .mdb-section--video {
        padding: 6.4rem 0; } }
  .mdb-section--footer {
    align-items: flex-start;
    padding: 0; }
  @media only screen and (max-width: 37.5em) {
    .mdb-section__left--footer {
      position: relative; } }
  .mdb-section__right--footer {
    text-align: right; }

.intro-img {
  height: 75vh;
  max-height: 600px;
  margin-right: 3.2rem;
  margin-left: 3.2rem; }
  @media only screen and (max-width: 56.25em) {
    .intro-img {
      display: none; } }

.design-img {
  height: 70vh;
  max-height: 500px;
  width: auto; }
  @media only screen and (min-width: 112.5em) {
    .design-img {
      height: 60vh;
      width: auto; } }
  @media only screen and (max-width: 75em) {
    .design-img {
      height: auto;
      width: 25vw;
      margin-top: 6.4rem; } }
  @media only screen and (max-width: 56.25em) {
    .design-img {
      height: auto;
      width: 30vw; } }
  @media only screen and (max-width: 37.5em) {
    .design-img {
      height: 50vh;
      width: auto;
      box-shadow: 0 1rem 3rem rgba(60, 60, 60, 0.3); } }

.schema-img {
  margin-top: 6.4rem;
  width: 60%; }
  @media only screen and (max-width: 56.25em) {
    .schema-img {
      width: 90%; } }

.mdb-video {
  width: 80vw;
  max-width: 100rem; }
  @media only screen and (max-width: 37.5em) {
    .mdb-video {
      width: 90vw; } }

.recipe-section {
  text-align: center;
  padding: 9.6rem 6.4rem; }
  .recipe-section:nth-child(even) {
    background-color: #1f28cf;
    color: white; }
  .recipe-section:nth-child(odd) {
    background-color: white;
    color: #1f28cf; }
  @media only screen and (max-width: 37.5em) {
    .recipe-section--header {
      min-height: 100vh;
      padding: 9.6rem 2.4rem; } }
  .recipe-section__text {
    text-align: left;
    max-width: 76.8rem;
    margin: auto;
    padding: 3.2rem 0;
    font-size: 2.4rem;
    line-height: 1.6; }
    @media only screen and (max-width: 56.25em) {
      .recipe-section__text {
        padding: 3.2rem 6.4rem; } }
    @media only screen and (max-width: 37.5em) {
      .recipe-section__text {
        padding: 0; } }
  .recipe-section--mockups {
    display: flex;
    flex-direction: row;
    justify-content: center; }
    @media only screen and (max-width: 37.5em) {
      .recipe-section--mockups {
        padding: 9.6rem 0; } }

.recipe-video {
  width: 80%;
  max-width: 100rem;
  margin-top: 4.8rem; }
  @media only screen and (max-width: 37.5em) {
    .recipe-video {
      width: calc(100vw - 4.8rem);
      max-width: auto;
      margin-top: 6.4rem; } }

.recipe-list {
  list-style-type: none; }
  .recipe-list__item {
    margin-top: 0.8rem; }

.recipe-img {
  height: 51.2rem;
  visibility: hidden; }
  @media only screen and (max-width: 75em) {
    .recipe-img {
      height: 45rem; } }
  @media only screen and (max-width: 37.5em) {
    .recipe-img {
      height: auto;
      width: 30vw; } }
  .recipe-img:nth-child(odd) {
    margin: 0 3.2rem; }
    @media only screen and (max-width: 37.5em) {
      .recipe-img:nth-child(odd) {
        margin: 0 0.5rem; } }
  .recipe-img--1 {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    visibility: visible; }
    @media only screen and (max-width: 56.25em) {
      .recipe-img--1 {
        padding-bottom: 12.8rem;
        animation-name: moveInBottom; } }
  .recipe-img--2 {
    animation-name: emersion;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    visibility: visible; }
    @media only screen and (max-width: 56.25em) {
      .recipe-img--2 {
        padding: 6.4rem 0;
        animation-name: moveInBottom;
        animation-delay: 0.2s; } }
  .recipe-img--3 {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    visibility: visible; }
    @media only screen and (max-width: 56.25em) {
      .recipe-img--3 {
        padding-top: 12.8rem;
        animation-name: moveInBottom;
        animation-delay: 0.4s; } }
