@mixin centerAbsolute {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//media query manager
/*
0 - 600px:  Phone
600-900px:  Tablet portrait
900-1200:   Tablet landscape
1200 -1800: Normal styles
1800 - :    Big screens

$breakpoint arg choices
- phone
- tab-port
- tab-land
- big-desctop
*/

//1em - 16px

@mixin respond($breakpoint) {
  @if $breakpoint == sm-phone {
    @media only screen and (max-width: 22.5em) {
      //360px
      @content;
    }
  }

  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      //600px
      @content;
    }
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      //900px
      @content;
    }
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      //1200px
      @content;
    }
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      //1800px
      @content;
    }
  }
}
