//colors

$color-gray-dark: rgba(60, 60, 60, 1);
$color-gray-dark-2: rgba(85, 85, 85, 1);
$color-gray-light: rgba(130, 129, 129, 1);

$color-primary-blue: rgba(33, 29, 244, 1);
$color-primary-green: rgba(2, 255, 58, 1);

$color-white: rgb(255, 255, 255);
