.footer {
  height: 4.8rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 6.4rem;
  padding-right: 6.4rem;

  &__par {
    color: $color-gray-light;
    font-size: 1.2rem;
  }

  &__link {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      color: $color-primary-green;
    }
    &:hover {
      font-weight: 500;
    }
  }

  &__icons {
    @include respond(phone) {
      position: absolute;
      bottom: -30rem;
    }
  }

  &__icon-link {
    &:not(:last-child) {
      margin-right: 1.2rem;
    }
  }

  &__icon {
    transition: all 0.3s;

    &--white {
      filter: brightness(0) invert(1);
    }
    &:hover {
      filter: invert(75%) sepia(28%) saturate(3339%) hue-rotate(76deg)
        brightness(99%) contrast(116%);
    }
  }
}

.mdb-footer {
  background-color: $color-gray-dark;
  @include respond(phone) {
    padding-bottom: 4.8rem;
  }

  &__list {
    margin: 3.2rem 0 6.4rem 0;
    & li {
      &:not(:first-child) {
        margin-top: 1.2rem;
      }
    }
    &--nav {
      margin-top: 0;
      @include respond(phone) {
        margin-bottom: 0;
      }
    }
  }

  &__heading span {
    @include respond(phone) {
      display: none;
    }
  }

  &__heading::after {
    @include respond(phone) {
      content: ">>";
    }
  }

  &__link {
    font-size: 1.8rem;
    text-decoration: none;
    color: $color-white;
    transition: all 0.4s;

    @include respond(phone) {
      font-size: 2.4rem;
      text-transform: uppercase;
    }

    &:hover {
      margin-left: 2.4rem;
    }
  }

  &__navigation-link {
    font-weight: bold;
    text-decoration: none;
    color: $color-white;
    font-size: 3.6rem;
    text-transform: uppercase;
    transition: all 0.4s;

    &:hover {
      margin-right: 2.4rem;
    }
  }
}
