@import '../base.scss';

.portfolio-container {
  max-width: 70rem;
  margin: auto;
  padding: 25.6rem 0 9.6rem 0;
  font-size: 2rem;
  line-height: 1.6;

  @include respond(tab-port) {
    padding: 12.8rem 3.2rem;
  }

  @include respond(phone) {
    padding: 25.6rem 3.2rem 9.6rem 3.2rem;
  }
}

.portfolio-section--intro {
  @include respond(phone) {
    margin: 0 1.6rem;
  }
}

.portfolio-section:not(:last-child) {
  margin-bottom: 6.4rem;
}

.portfolio-ul {
  list-style-type: none;
}
.portfolio-li:first-child {
  margin-top: 0.8rem;
}

.portfolio-img {
  display: inline;
  opacity: 0;
  transition: all 0.8s ease-out;
}

.portfolio-link {
  text-decoration: none;
  color: $color-primary-red;

  &--img {
    color: $color-primary-blue;
  }

  &--img:hover + .portfolio-img {
    opacity: 1;
  }
}

.gradient-box--portfolio {
  display: inline-block;
  position: relative;
  padding: 1.2rem 2.4rem;
  background: $color-white;
  background-clip: padding-box;
  border: solid 1px transparent;
  border-radius: 5rem;
  // margin-top: 3.2rem;
  margin-left: -12.8rem;
  cursor: pointer;

  @include respond(tab-land) {
    margin-left: 0rem;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -2px;
    border-radius: inherit;
    background: linear-gradient(
      to right bottom,
      $color-primary-blue,
      $color-primary-red
    );
  }
}
