*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px 10/16 = 62.5%

  @include respond(tab-land) {
    font-size: 56.5%; //1rem = 9px, 9/16 = 56.5%
  }

  @include respond(tab-port) {
    font-size: 50%; //1rem = 8px, 8/16 = 50%
  }

  @include respond(sm-phone) {
    font-size: 43.5%; //1rem = 7px, 7/16 = 43.5%
  }

  @include respond(big-desktop) {
    font-size: 75%; //1rem = 12px, 12/16 = 75%
  }
}

body {
  widows: 100vw;
  height: 100vh;
  /* border-box - total width or total height will include padding and border */
  box-sizing: border-box;
}

.mobile {
  @include respond(tab-land) {
    display: none;
  }

  @include respond(tab-port) {
    display: block;
  }

  // .desktop {
  //   @include respond(tab-port) {
  //     display: none;
  //   }
  //   @include respond(tab-land) {
  //     display: block;
  //   }
  // }
}

::selection {
  background-color: $color-primary-red;
  color: $color-white;
}
