*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; //1 rem = 10px 10/16 = 62.5%
}

body {
  widows: 100vw;
  height: 100vh;
  /* border-box - total width or total height will include padding and border */
  box-sizing: border-box;
}
