.container {
  height: calc(100vh - 7.2rem - 4.8rem);
  max-width: 150rem;
  margin: auto;
  padding: 6.4rem 0 6.4rem 12.8rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include respond(tab-port) {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }

  @include respond(phone) {
    height: auto;
    padding: 6.4rem;
  }
}

.header {
  width: 50vw;
  @include respond(phone) {
    width: auto;
    margin-top: 19.2rem;
  }
}

.projects {
  width: 50vw;
  padding-left: 10vw;

  @include respond(tab-port) {
    padding-left: 0;
    margin-top: 9.6rem;
  }

  @include respond(phone) {
    width: auto;
  }

  &__list {
    list-style: none;
  }

  &__link {
    &,
    &:link,
    &:visited {
      text-decoration: none;
      display: block;
      font-weight: 600;
      font-size: 3rem;
      color: $color-gray-dark;
      transition: all 0.4s;

      &:not(:last-child) {
        margin-bottom: 2.4rem;
      }
    }
    &:hover {
      margin-left: 2.4rem;
      color: $color-primary-blue;
    }
    &--span {
      display: none;
      filter: invert(32%) sepia(18%) saturate(6547%) hue-rotate(339deg)
        brightness(111%) contrast(102%);
    }
  }

  &__img {
    position: absolute;
    z-index: -1;
    height: 70vh;
    opacity: 0;
    transition: all 0.8s ease-out;

    @include respond(tab-port) {
      display: none;
    }

    &--musicdb-1 {
      left: -30vw;
      bottom: 2rem;
    }

    &--musicdb-2 {
      left: 75vw;
      bottom: 100vh;
    }

    &--recipe-1 {
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      object-fit: cover;
    }
  }

  &__link--musicdb:hover + &__img--musicdb-1 {
    opacity: 0.2;
    left: 40vw;
  }
  &__link--musicdb:hover ~ &__img--musicdb-2 {
    opacity: 0.2;
    bottom: 2rem;
  }

  &__link--portfolio:hover > &__link--span {
    display: inline;
  }

  &__link--recipe:hover + &__img--recipe-1 {
    opacity: 0.2;
  }
}
