.mdb-container {
  background-image: url(../img/musicdb/polygon1.svg);
  background-repeat: no-repeat;
  background-position: top right;

  @include respond(big-desktop) {
    background-size: 65%;
  }
  @include respond(phone) {
    background-image: none;
  }
}

.mdb-header {
  display: flex;
  flex-direction: row;

  @include respond(phone) {
    display: block;
  }

  &__left {
    width: 50vw;
    align-self: center;
    margin-left: 19.2rem;
    align-self: flex-end;
    padding-bottom: 12.8rem;

    @include respond(big-desktop) {
      padding-bottom: 25.6rem;
    }

    @include respond(phone) {
      width: 100vw;
      margin: 0;
      padding: 19.2rem 3.2rem 3.2rem 3.2rem;
      text-align: center;
    }
  }

  &__right {
    width: 100vw;
    text-align: center;
    margin: 0;

    @include respond(phone) {
      width: 95vw;

      margin: 3.2rem auto 0 auto;
    }
  }

  &__img {
    height: 100vh;

    @include respond(phone) {
      width: 80vw;
      height: auto;
      margin: 3.2rem auto 0 auto;
    }
  }
}
.mdb-button-box {
  margin-top: 3.2rem;
}

.mdb-navigation {
  position: relative;

  &__button {
    position: fixed;
    z-index: 10;
    left: 4.8rem;
    top: 6.4rem;
    background-color: $color-gray-dark-2;
    width: 6.4rem;
    height: 6.4rem;
    border-radius: 50%;
    box-shadow: 0 1rem 3rem rgba($color-gray-dark, 0.3);
    transition: all 0.2s;

    &:hover {
      transform: scaleX(1.05) scaleY(1.05);
    }
  }

  &__img {
    width: 3.2rem;
    height: 3.2rem;
    position: absolute;
    top: 50%;
    left: 45%;
    transform: translate(-50%, -50%);
  }
}

.mdb-arrow-down {
  position: absolute;
  bottom: 6.4rem;
  left: 6.4rem;

  @include respond(phone) {
    display: none;
  }
}

.mdb-section {
  padding: 6.4rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include respond(phone) {
    padding: 6.4rem 4.8rem;
    display: block;
  }

  &__left,
  &__right {
    width: 50vw;

    @include respond(phone) {
      width: auto;
    }
  }

  &__left--intro,
  &__right--intro {
    width: 35vw;

    @include respond(phone) {
      width: auto;
    }
  }

  &--design {
    margin-top: -12rem;
    background-image: url(../img/musicdb/polygon2.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 90rem;

    @include respond(phone) {
      margin-top: 0;
      background-image: url(../img/musicdb/polygon1-mobile.svg);
      height: auto;
      padding: 19.2rem 4.8rem 0 4.8rem;
    }
  }

  &__left--design {
    margin-left: 9.6rem;
    @include respond(phone) {
      margin-left: 0;
    }
  }

  &__right--design {
    text-align: center;
    @include respond(phone) {
      margin-top: 19.2rem;
    }
  }

  &--stack {
    @include respond(big-desktop) {
      padding: 9.6rem 6.4rem;
    }
  }

  &__left--stack,
  &__right--stack {
    padding: 0 6.4rem;

    @include respond(phone) {
      padding: 2.4rem 0;
    }
  }

  &--schema {
    display: block;
    text-align: center;
    @include respond(phone) {
      display: none;
    }
  }

  &--features {
    background-image: url(../img/musicdb/polygon3.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    align-items: flex-start;
    padding-bottom: 12.8rem;

    @include respond(phone) {
      background-image: url(../img/musicdb/polygon2-mobile.svg);
      background-size: auto;
    }
  }

  &__left--features,
  &__right--features {
    padding: 0 6.4rem;
    margin-top: 9.6rem;

    @include respond(phone) {
      padding: 0;
      margin-top: 0;
    }
  }
  &__left--features {
    width: 35vw;
    @include respond(phone) {
      width: auto;
    }
  }

  &--video {
    display: block;
    text-align: center;

    @include respond(big-desktop) {
      padding: 9.6rem 6.4rem;
    }

    @include respond(phone) {
      padding: 6.4rem 0;
    }
  }

  &--footer {
    align-items: flex-start;
  }

  &__left--footer {
    @include respond(phone) {
      position: relative;
    }
  }

  &__right--footer {
    text-align: right;
  }
}

.intro-img {
  height: 75vh;
  margin-left: 6.4rem;

  @include respond(phone) {
    display: none;
  }
}

.design-img {
  height: 70vh;

  @include respond(big-desktop) {
    height: 60vh;
  }

  @include respond(phone) {
    height: 50vh;
  }
}

.schema-img {
  margin-top: 6.4rem;
  width: 60%;
}

.mdb-video {
  width: 80vw;
  max-width: 100rem;
  @include respond(phone) {
    width: 90vw;
  }
}
