.recipe-section {
  text-align: center;
  padding: 9.6rem 6.4rem;

  &:nth-child(even) {
    background-color: $color-primary-blue;
    color: $color-white;
  }

  &:nth-child(odd) {
    background-color: $color-white;
    color: $color-primary-blue;
  }

  &__text {
    text-align: left;
    max-width: 76.8rem;
    margin: auto;
    padding: 3.2rem 0;
    font-size: 2.4rem;
    line-height: 1.6;
  }
}

.recipe-video {
  width: 80%;
  max-width: 100rem;
}

.recipe-list {
  list-style-type: none;

  &__item {
    margin-top: 0.8rem;
  }
}

.recipe-img {
  height: 51.2rem;
  visibility: hidden;
  &:nth-child(odd) {
    margin: 0 3.2rem;
  }

  &--1 {
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    visibility: visible;
  }

  &--2 {
    animation-name: emersion;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    visibility: visible;
  }

  &--3 {
    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    visibility: visible;
  }
}
